<p><b>Top Student Safety Tips</b></p>
<p>Get into a few simple habits and it could not only save you thousands of euros but also a great deal of time and effort!</p>

<p><b>DID YOU KNOW?</b></p>
<p>
    Students are, statistically, one of the most likely groups to fall victim to crime.Students own more expensive consumer goods per head than the rest of the population. It is no surprise then that 1 in 3 students becomes the victim of a crime each year. Added to that fact, young people (aged 16 to 24 years old) are around three times more likely to be victims of burglary than people in other age groups, which makes students all the more vulnerable. Don’t be a statistic. Staying safe is all about following a few common-sense guidelines. Read the following tips, which could make all the difference.
</p>

<ul>
    <li>
        <b>LOCK IT OR LOSE IT</b><br>
        Many burglaries happen when a door or window has been left open. In a private home or flat, lock up whenever you go out – with deadbolts if you have them.
    </li>
    <li>
        <b>BE VIGILANT IN HALLS OR RESIDENCE</b><br>
        Be careful who you let in or who follows you into the building. Lock your bedroom door even if you are only going down the corridor.
    </li>
    <li>
        <b>PROTECT YOUR MOBILE / SMART PHONE</b><br>
        Be vigilant when using your mobile phone.Don't use your phone when walking late at night and don't keep your earphones. 
    </li>
    <li>
        <b>SECURITY MARK YOUR PROPERTY</b><br>
        Mark your property with the initials of your university (e.g. TCD) and your student ID number. This makes it harder for a burglar to sell stolen goods and sometimes helps the gardai to return items to you.
    </li>
    <li>
        <b>GET INSURED</b><br>
        Rooms filled with desirable, portable, electronic items attract burglars to student accommodation. It’s already expensive enough being a student without having to replace stolen possessions. Your Stereo, TV, PlayStation and computer might not seem worth insuring, but think about the cost of replacing them! Make the smart choice, insure your possessions before it’s too late.
    </li>
</ul>

<p>As well as security, insurance is essential for your peace of mind. Make the smart choice, insure your possessions before it’s too late.</p>

<b>USEFUL TIPS- OUT AND ABOUT</b>

<b>ON THE BUS</b>
<ul class="bullet-list">
    <li>Use a bus stop you know, or one that appears busy and well lit.</li>
    <li>If you’re going to an unfamiliar place, have friends meet you at your destination.</li>
    <li>Sit close to the driver.</li>
</ul>

<b>ON THE TRAIN</b>
<ul class="bullet-list">
    <li>Wait on a well lit section of platform, near other people.</li>
    <li>Sit in a busy compartment at the front of the train.</li>
    <li>If you feel uncomfortable, consider getting out of your carriage and into another, or even getting off the train altogether.</li>
</ul>

<b>TAKING A TAXI</b>
<ul class="bullet-list">
    <li>As often as possible, use a taxi company you know, or one recommended by family or friends.</li>
    <li>If you have booked a taxi over the phone, make sure the driver knows your name and destination, in order to ensure it’s the correct taxi.</li>
    <li>Have your money and keys ready so that you can get into your home quickly at the end of your journey.</li>
    <li>If you feel uncomfortable in a taxi, ask the driver to stop in a busy familiar place and get out of the car.</li>
</ul>

<p>
    Visit the Gardai’s crime prevention pages for more security advice: <a ng-click="openLink('http://www.garda.ie/Controller.aspx?Page=1921')">Garda.ie Crime Prevention</a>
</p>

<p>
    And should the worst happen, you can rely on your possessions insurance to cover you:<br>
    <a ng-click="openLink('http://www.cover4insurance.com/irish-student-security-tips')">Irish Students: Receive a quote</a>
</p>