<ion-view view-title="Contact <span class='text-orange'>Cover4</span>">
    <ion-content class="contact-page">
        <div class="page-heading text-center">
            <h2>Contact Us</h2>
            <p>Choose a method to contact us on</p>
        </div>
        <div class="contact contact-phone">
            <h3><i class="ion-ios-telephone-outline"></i> Phone</h3>
            <a href="tel:+4408445768369">0844 576 8369</a><br>
            <a href="tel:+4401617723382">0161 772 3382</a>
        </div>
        <div class="contact contact-email">
            <h3><i class="ion-ios-email-outline"></i> Email</h3>
            <a href="mailto:info@cover4insurance.com">info@cover4insurance.com</a>
        </div>
        <div class="contact contact-write">
            <h3><i class="ion-ios-compose-outline"></i> Write to us</h3>
            Cover4Insurance,<br>
            The Stables,<br>
            Old Co-Op Yard,<br>
            Warwick Street,<br>
            Manchester,<br>
            M25 3HB.
        </div>
        <div class="contact contact-social" ng-controller="AppCheckCtrl">
            <h3>Social Media</h3>
            <a ng-click="loadFacebook('cover4insurance')"><i class="ion-social-facebook ion-social"></i></a>
            <a ng-click="loadTwitter('cover4insurance')"><i class="ion-social-twitter ion-social"></i></a>
        </div>
    </ion-content>
</ion-view>