<ion-view view-title="Welcome to <span class='text-orange'>Cover4</span>">
    <ion-content>
        <div class="page-heading text-center">
            <div class="icon">
                <img src="img/c4-icon.png">
            </div>
            <h2>Welcome to Cover4</h2>
            <p>Please select a policy below</p>
        </div>
        <h3 class="padding-width">Our Policies</h3>
        
        <!-- policies list -->
        <ion-list>
            <!--<ion-item ng-repeat="policy in policies track by $index" ui-sref="app.home.policydetail({id: policy.id})">-->
            <ion-item class="item-text-wrap" ng-repeat="policy in policies track by $index" ng-click="loadUrl(policy.id)">
                <div class="list-policy-title">{{policy.title}}</div> 
                
                <!--<a class="quick-link" ng-href="{{policy.href}}" onclick="window.open(this.href, '_system'); return false;"><i class="ion-ios-browsers-outline"></i></a>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>