<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="cover4-header">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear text-orange ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">        
        <ion-content>
            <div class="side-menu-logo text-center">
                <i class="ion-ios-flower-outline"></i>
                <h3>Cover4 Insurance</h3>
            </div>
            <div class="text-center menu-social-media">
                <i class="ion-social-facebook"></i>
                <i class="ion-social-twitter"></i>
            </div>
            <ion-list class="side-menu-list">
                <ion-item menu-close ui-sref="app.home">
                    Home
                </ion-item>   
                <ion-item menu-close ui-sref="app.studentinfo">
                    Student Information
                </ion-item> 
                <ion-item menu-close ui-sref="app.contact">
                    Contact
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>