<ion-view view-title="{{policy.title}} Information">
    <ion-nav-bar class="cover4-header">
        <ion-nav-back-button>
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
    </ion-nav-bar>


    <ion-content padding="true">
        <!-- Image to cover the top -->
        <p>{{policy.title}} information</p>
        <p><a ng-href="{{policy.href}}" onclick="window.open(this.href, '_system'); return false;">Visit Site</a></p>
        <p>Related Information Links</p>
    </ion-content>
</ion-view>