<ion-view view-title="{{policy.title}} Information">
    <ion-nav-bar class="cover4-header">
        <ion-nav-back-button>
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
    </ion-nav-bar>


    <ion-content>
        <div class="page-heading text-center">
            <h2>{{policy.title}} Information</h2>
        </div>
        
        <p><a class="btn-receive-quote" ng-controller="AppCtrl" ng-click="openLink(policy.href)">Receive a quote</a></p>
        <div class="student-info" compile="policy.text"></div>
        <p><a class="btn-receive-quote" ng-controller="AppCtrl" ng-click="openLink(policy.href)" style="margin-bottom: 20px;">Receive a quote</a></p>
    </ion-content>
</ion-view>