<ion-view view-title="{{policy.title}} Information">
    <ion-nav-bar class="cover4-header">
        <ion-nav-back-button>
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
    </ion-nav-bar>


    <ion-content>
        <div class="page-heading text-center">
            <h2>{{policy.title}} Information</h2>
        </div>
        
        <p><a ng-href="{{policy.href}}" onclick="window.open(this.href, '_system'); return false;">Visit Site</a></p>
        <div class="student-info" compile="policy.text"></div>
    </ion-content>
</ion-view>