ion-side-menu {
    background: #222 !important;
}

.bar.cover4-header,
[nav-bar="active"] .bar.cover4-header {
    background: #222 !important;
    color: #FFF !important;
}

.bar.cover4-header .button.back-button {
    background: #222;
    color: #FE9D00;
}

.bar-side-menu {
    background: #FE9D00;
    color: #FFF;
}

.bar-side-menu .title {
    color: #FFF;
}

.page-heading {
    padding: 40px 0;
    background: linear-gradient(to bottom, #FF8008 , #FFC837);
    background: #FE9D00;
    color: #FFF;
}

.page-heading h2 {
    color: #FFF;
    font-weight: 300;
}

.side-menu-logo i,
.page-heading .icon i {
    font-size: 66px;
    color: white;
}

.side-menu-logo {
    padding-top: 80px;
    /*padding-bottom: 40px;*/
}

.side-menu-logo h3 {
    color: white;
    font-weight: 300;
}

.side-menu-list {
    /*font-family: 'Open Sans';
    font-weight: 300;*/
}

.side-menu-list ion-item {
    border-left: none;
    border-right: none;
    border-color: #333;
}

.side-menu-list ion-item a.item-content {
    background: #222;
    color: white;
}

.side-menu-social {
    border: 1px solid #444;
    border-radius: 4px;
    padding: 3px 6px;
}

.side-menu-social.side-menu-twitter {
    padding: 3px 1px;
}

.page-heading p {
    font-size: 16px;
    font-weight: 300;
}

.text-orange {
    color: #FE9D00;
}

.button.button-clear {
    color: #FFF;
}

.bg-orange {
    background: #FE9D00;
    color: #FFF;
}

.padding-width {
    padding: 0 14px;
}

.list-policy-title,
.quick-link {
    display: inline-block;
}

.list-policy-title {
    width: 91%;
}

.quick-link {
    width: 7%;
    text-align: right;
}

.quick-link i {
    color: #FE9D00;
    font-size: 18px;
}

.menu-social-media {
    font-size: 24px;
    padding: 20px;
}

.menu-social-media a {
    color: white;
}

.menu-social-media i {
    padding: 0 8px;
}

.contact-page,
.contact a {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 15px;
    color: black;
}

.contact a {
    text-decoration: none;
}

.contact {
    padding: 8px 12px;
}

.contact h3 {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 20px;
    border-bottom: 1px solid #444;
    padding-bottom: 4px;
}

.contact .ion-social {
    font-size: 26px;
    border: 1px solid #222;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
    padding: 6px 14px;
    color: #222;
    margin-right: 8px;
}

.contact .ion-social-twitter {
    padding: 6px 8px;
}

.clear-list {
    background: #eee;
    padding: 10px;
    text-align: center;
    font-family: 'Open Sans';
    position: absolute;
    bottom: 0;
    width: 100%;
}

.unread-count {
    background: #FE9D00;
    border-radius: 50%;
    padding: 1px 6px;
    font-size: 12px;
    font-family: "open sans";
}

.no-notifications {
    text-align: center;
    font-family: "open sans";
    font-weight: 300;
    font-size: 15px;
    margin-top: 20px;
}