ion-side-menu {
    background: #222 !important;
}

.bar.cover4-header {
    background: #222;
    color: #FFF;
}

.bar-side-menu {
    background: #FE9D00;
    color: #FFF;
}

.bar-side-menu .title {
    color: #FFF;
}

.page-heading {
    padding: 40px 0;
    background: linear-gradient(to bottom, #FF8008 , #FFC837);
    background: #FE9D00;
    color: #FFF;
}

.page-heading h2 {
    color: #FFF;
    font-weight: 300;
}

.side-menu-logo i,
.page-heading .icon i {
    font-size: 66px;
    color: white;
}

.side-menu-logo {
    padding-top: 80px;
    /*padding-bottom: 40px;*/
}

.side-menu-logo h3 {
    color: white;
    font-weight: 300;
}

.side-menu-list ion-item {
    border-left: none;
    border-right: none;
    border-color: #333;
}

.side-menu-list ion-item a.item-content {
    background: #222;
    color: white;
}

.page-heading p {
    font-size: 16px;
    font-weight: 300;
}

.text-orange {
    color: #FE9D00;
}

.button.button-clear {
    color: #FFF;
}

.bg-orange {
    background: #FE9D00;
    color: #FFF;
}

.padding-width {
    padding: 0 14px;
}

.list-policy-title,
.quick-link {
    display: inline-block;
}

.list-policy-title {
    width: 91%;
}

.quick-link {
    width: 7%;
    text-align: right;
}

.quick-link i {
    color: #FE9D00;
    font-size: 18px;
}

.menu-social-media {
    color: white;
    font-size: 24px;
    padding: 20px;
}

.menu-social-media i {
    padding: 0 8px;
}